Repository SeL-Lgt/multiLanguage: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run pretty, npm run lint:css

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npm run lint"],
  "*.md": ["npm run pretty"],
  "*.{css,less,scss,sass}":["npm run lint:css"]
}

chore: 修改style格式化
  package.json
Due: none

chore: 修改style报错问题
  package.json
Due: none

chore: 补充代码提交校验
  package.json
Due: none

feat: 语言标识管理页面
  .eslintrc.js
  .lintstagedrc.json
  .stylelintrc.js
  index.html
  package.json
  src/App.tsx
  src/assets/style/index.less
  src/component/Common/CHead/index.tsx
  src/component/Common/CNotFound/index.tsx
  src/component/Common/CTable/ATable.tsx
  src/router/index.tsx
  src/views/CopyWritingManagement/index.tsx
  src/views/LanguageIndexManagement/component/form/index.tsx
  src/views/LanguageIndexManagement/index.tsx
  tailwind.config.js
  tailwindcss-classnames.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: npm run lint, npm run lint:css

feat: 语言标识管理页面
  .eslintrc.js
  src/main.tsx
  src/views/LanguageIndexManagement/component/form/index.tsx
  src/views/LanguageIndexManagement/index.tsx
Due: npm run lint

chore: 由于antd样式按需引入，antd组件内部用了未引入的组件会导致样式丢失。
  package.json
  vite.config.ts
Due: npm run lint

feat: 语言标识管理页面
  src/component/Common/CTable/ATable.tsx
  src/utils/languageUtil.ts
  src/views/LanguageIndexManagement/component/form/index.tsx
  src/views/LanguageIndexManagement/index.tsx
Due: npm run lint

feat: 修改路由展示顺序
  src/router/index.tsx
  src/views/LanguageIndexManagement/component/LanguageIndexForm/index.tsx
Due: npm run lint

style: 文件夹名字调整
  src/views/LanguageIndexManagement/index.tsx
Due: npm run lint

chore: 模块打包拆分
  vite.config.ts
Due: npm run lint

feat: 项目模块管理-父模块界面
  src/views/LanguageIndexManagement/component/LanguageIndexForm/index.tsx
  src/views/LanguageIndexManagement/index.d.ts
  src/views/LanguageIndexManagement/index.tsx
  src/views/ProjectManagement/Detail/index.tsx
  src/views/ProjectManagement/List/index.tsx
  src/views/ProjectManagement/component/ParentForm/index.tsx
  src/views/ProjectManagement/index.d.ts
Due: npm run lint

chore: 格式调整
  .lintstagedrc.json
  .stylelintrc.js
  package.json
Due: npm run lint

feat: 项目模块管理-子模块详情页面
  src/component/Common/CTable/ATable.tsx
  src/views/ProjectManagement/Detail/index.tsx
  src/views/ProjectManagement/List/index.tsx
  src/views/ProjectManagement/component/SonForm/index.tsx
Due: npm run lint

chore: 屏蔽tailwinds中重置css的功能
  src/assets/styles/tailwind.less
  src/main.tsx
  tailwind.config.js
Due: npm run lint, npm run lint:css

feat: 将路由跳转为hash模式
  src/main.tsx
Due: npm run lint

chore: json格式化补充
  .lintstagedrc.json
Due: none

chore: json格式化补充
  .lintstagedrc.json
  src/main.tsx
  src/views/CopyWritingManagement/index.tsx
Due: npm run lint

chore: 修改格式化顺序
  .lintstagedrc.json
Due: none

build: 根据不同环境进行打包
  envs/.env.dev
  envs/.env.prod
  package.json
  tsconfig.json
  vite.config.ts
Due: npm run lint

feat: 封装接口请求，语言标识模块管理接口对接
  .eslintrc.js
  envs/.env.dev
  envs/.env.prod
  package.json
  src/api/api.ts
  src/api/axios.ts
  src/api/mark.ts
  src/api/request.ts
  src/router/index.tsx
  src/type/api.d.ts
  src/type/mark.d.ts
  src/type/request.d.ts
  src/views/LanguageIndexManagement/index.d.ts
  src/views/Mark/component/LanguageIndexForm/index.tsx
  src/views/Mark/index.tsx
Due: npm run lint

feat: 语言标识管理-新增注释
  src/views/Mark/component/LanguageIndexForm/index.tsx
  src/views/Mark/index.tsx
Due: npm run lint

feat: 父模块管理-接口对接
  .eslintrc.js
  src/api/api.ts
  src/api/mark.ts
  src/api/modules.ts
  src/type/modules.d.ts
  src/views/ProjectManagement/List/index.tsx
  src/views/ProjectManagement/component/ParentForm/index.tsx
  src/views/ProjectManagement/index.d.ts
Due: npm run lint

feat: 父模块管理-删除多余请求
  src/views/ProjectManagement/List/index.tsx
Due: npm run lint

fix: 请求地址调整
  src/api/api.ts
Due: npm run lint

feat: 项目模块子模块接口对接完成
  src/api/api.ts
  src/api/modules.ts
  src/type/modules.d.ts
  src/views/ProjectManagement/Detail/index.tsx
  src/views/ProjectManagement/component/SonForm/index.tsx
Due: npm run lint

style: 文件夹名称调整
  src/router/index.tsx
  src/views/CopyWriting/index.less
  src/views/CopyWriting/index.tsx
  src/views/CopyWritingManagement/index.tsx
  src/views/modules/Detail/index.tsx
  src/views/modules/List/index.tsx
  src/views/modules/component/ParentForm/index.tsx
  src/views/modules/component/SonForm/index.tsx
  src/views/modules/index.tsx
  tailwindcss-classnames-expand.ts
Due: npm run lint, npm run lint:css

style: 文件夹名称调整
  src/router/index.tsx
  src/views/Modules/Detail/index.tsx
  src/views/Modules/List/index.tsx
  src/views/Modules/component/ParentForm/index.tsx
  src/views/Modules/component/SonForm/index.tsx
  src/views/Modules/index.tsx
Due: npm run lint

feat: 删除父模块初始化值
  src/views/Modules/List/index.tsx
Due: npm run lint

feat: 新增子模块列表查询接口
  src/api/api.ts
  src/api/modules.ts
Due: npm run lint

feat: 新增antd/icon插件
  package.json
Due: none

feat: 文案管理-新增语言信息表单
  src/type/copyWriting.d.ts
  src/views/CopyWriting/component/form/index.tsx
  src/views/CopyWriting/index.tsx
Due: npm run lint

feat: 文案管理-新增语言信息表单、查询语言信息接口
  src/api/api.ts
  src/api/copyWriting.ts
  src/type/copyWriting.d.ts
  src/views/CopyWriting/component/form/index.tsx
  src/views/CopyWriting/index.tsx
Due: npm run lint

feat: 文案管理-编辑文案界面开发
  src/api/api.ts
  src/api/copyWriting.ts
  src/type/copyWriting.d.ts
  src/views/CopyWriting/component/form/index.tsx
  src/views/CopyWriting/index.tsx
Due: npm run lint

feat: 文案管理-关闭对话框后刷新列表请求
  src/views/CopyWriting/index.tsx
Due: npm run lint

feat: 文案管理-删除文案
  src/api/api.ts
  src/api/copyWriting.ts
  src/type/copyWriting.d.ts
  src/views/CopyWriting/index.tsx
Due: npm run lint

feat: 父模块管理-修改请求协议
  src/api/modules.ts
Due: npm run lint

feat: 文案管理模块-修改文案
  src/api/api.ts
  src/api/axios.ts
  src/api/copyWriting.ts
  src/type/api.d.ts
  src/views/CopyWriting/component/form/index.tsx
  src/views/CopyWriting/index.tsx
Due: npm run lint

feat: 文案管理-上传文案
  src/api/api.ts
  src/api/copyWriting.ts
  src/api/request.ts
  src/type/request.d.ts
  src/views/CopyWriting/index.tsx
Due: npm run lint

feat: 文案管理-导出excel文案完成，新增day.js时间插件
  package.json
  src/api/api.ts
  src/api/copyWriting.ts
  src/api/request.ts
  src/type/copyWriting.d.ts
  src/type/request.d.ts
  src/utils/timeUtil.ts
  src/views/CopyWriting/index.tsx
Due: npm run lint

chore: 根据环境变量进行API请求
  envs/.env.prod
  src/api/request.ts
  vite.config.ts
Due: npm run lint
